{% extends 'MainApp/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <div class="content-section">
    	<form method="POST">
			{% csrf_token %}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4">Register Now</legend>
    			{{ form.as_p }}
    		</fieldset>
    		<div class="form-group mb-4">
    			<button class="btn btn-outline-success" type="submit">SignUp</button>
    		</div>
    	</form>
    	<div class="border-top pt-3">
    		<small class="text-muted">
    			Already Have An Account? <a class="ml-2" href="{% url 'login' %}">LogIn</a>
    		</small>
    	</div>
    </div>
{% endblock content %}